{% extends 'base.html' %}
{% load static %}
<title>{% block title %}Project Detail || NDF{% endblock %}</title>
{% block content %}
    <div class="header-height"></div>
    <div class="pager-header">
        <div class="container">
            <div class="page-content">
                <h2>Project Detail</h2>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'Index' %}">Home</a></li>
                    <li class="breadcrumb-item active">{{object.title}} Project Detail</li>
                </ol>
            </div>
        </div>
    </div><!-- /Page Header -->

    <section class="about-section bg-grey bd-bottom padding">
        <div class="container">
            <div class="row about-wrap">
                <div class="col-md-6 xs-padding">
                    <div class="about-image">
                        <img src="{{object.img.url}}" alt="about image">
                    </div>
                </div>
                <div class="col-md-6 xs-padding">
                    <div class="about-content">
                        <h2>{{object.title}}</h2>
                        <p style="text-align: justify;">{{object.desc|safe}}</p>
                        <a href="{% url 'Projects' %}" class="default-btn">Back to Projects</a>
                        <a href="{% url 'Make Donations' %}" class="default-btn">Donate</a>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- /About Section -->

{% endblock %}