{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %}Change Password || NDF{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="fa fa-plus-circle icon-gradient bg-plum-plate">
                        </i>
                    </div>
                    <div>Change Password
                    </div>
                </div>   
            </div>
        </div>            
        <div class="main-card mb-3 card">
            {% if messages  %}
                {% for message in messages %}
            <div class="card-body">
                <h5 style="color: #ff0000;">{{ message }}</h5>
                <h5 class="card-title">Change Password</h5>
                {% endfor %}
            {% endif %}
                <form class="col-md-10 mx-auto" method="post">
                    {% csrf_token %}
                    <!-- <div class="form-row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="password">New Password</label>
                                <input type="password" class="form-control" id="new_password" name="new_password" placeholder="Enter New Password" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="password">Confirm Password</label>
                                <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Enter Confirm Password" />
                            </div>
                            
                        </div>
                    </div> -->
                    
                    {{ form|crispy }}
                        <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
