{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}



<section class="bg-light py-5">  

<div class="container" style="margin-top: 10%;margin-bottom: 10%">



<h3>Enter new password</h3>

<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

<form method="post">

    {% csrf_token %}
    {{form|crispy}}
    <input style="
    background-color: #63ca6a; 
    color: #fff;
    padding: 15px 45px;
    border-radius: unset;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    "   class="btn btn-success" type="Submit" name="Update Password">

</form>


</div>
</section>
{% endblock %}