{% load static %}
<div class="scrollbar-sidebar">
    <div class="app-sidebar__inner">
        <ul class="vertical-nav-menu">
            <li class="app-sidebar__heading">Petitions</li>
            <li class="mm-active">
                <a href="#"><i class="metismenu-icon fa fa-eye"></i>All Petitions</a>
            </li>
            <li>
                <a href="#"><i class="metismenu-icon fa fa-eye"></i>My Petitions</a>
            </li>
            <li>
                <a href="/dashboard/create_petition"><i class="metismenu-icon fa fa-plus-circle"></i>Create Petition</a>
            </li>
            <li class="app-sidebar__heading">Commendations</li>
            <li>
                <a href="#"><i class="metismenu-icon fa fa-eye"></i>All Commendations</a>
            </li>
            <li>
                <a href="#"><i class="metismenu-icon fa fa-eye"></i>My Commendations</a>
            </li>
            <li>
                <a href="#"><i class="metismenu-icon fa fa-plus-circle"></i>Make Commendation</a>
            </li>
            <li class="app-sidebar__heading">Donations</li>
            <li>
                <a href="#"><i class="metismenu-icon fa fa-gift"></i>My Donations</a>
            </li>
            <li>
                <a href="#"><i class="metismenu-icon fa fa-money"></i>Make Donation</a>
            </li>
            <li class="app-sidebar__heading">Profile</li>
            <li>
                <a href="/accounts/profile"><i class="metismenu-icon fa fa-user"></i>View Profile</a>
            </li>
            <li>
                <a href="/accounts/change_password"><i class="metismenu-icon fa fa-key"></i>Change Password</a>
            </li>
            <li>
                <a href="/accounts/logout"><i class="metismenu-icon fa fa-sign-out"></i>Logout</a>
            </li>
        </ul>
    </div>
</div>