{% extends "base.html" %}
{% load static %}



{% block content %}
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="fa fa-money icon-gradient bg-plum-plate">
                        </i>
                    </div>
                    <div>Payment Status
                    </div>
                </div>
            </div>
        </div>
    <div class="container">
    <div class="card">

        <div class="card-body text-center">
          <span style="color: #2b935e; "><h1><i class='fa fa-check-circle'></i></h1> <br> <h2>Payment Successful !</h2>  </span>

        </div>
    </div>
    </div>
    </div>
{% endblock content %}